/* add light background to the whole page*/
body{
    background-color: #e2dddd;
}

/* Add a background color to the nav, make if fixed, tranparent and no space at top */
#nav-bar {
    display: block;
    background-color: #e2dddd; 
    opacity: 1;
    position: fixed;
    top:0;
    z-index: 5;
    overflow: hidden;
    width: 100%;
}

/* Style the links inside the navigation bar */
.nav-link {
  float: left;
  color: #050505;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 20px;
}

/*image resizing*/
#header-img{
   width: 300px;
   height: 50px;
}

/* Right-aligned section inside the top navigation */
#topnav-right {
  float:right;
}
/*title styling*/
h1{
    text-align: center;
    font-size: 40px;
    margin-top: 150px;
    color: black;
}

#form{
    text-align: center;
   
}
#email{
    min-width: 20%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}
/*button*/
#submit{
    background-color: #e2c41c;
    border: 0px;
    padding: 8px;
    font: 1em sans-serif;
}

@media (max-width: 350px) {
    #header-img{
        width: 100px;
        height: 10px;
     }
}

#feats,#truck,#battery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
i{
    color: #e4c82a;
    padding: 20px;
}
#vid{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#pricing{
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 30% 30%;
}
#pricing div{
    border: #050505 2px solid;
    margin: 10px;
    text-align: center;
    
}
#pricing div h2{
background-color: #a19999;
margin-top: 0;
}
li{
    list-style-type: none;
}
button{
    background-color: #e4c82a;
    padding: 2px 5px;
}
footer{
    float: right;
}
footer a{
    text-decoration: none;
    display: block;
    float: right;
    padding: 4px;
    
}
